body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.errorDiv{
  width:100%;
}
.navbar .nav-pills >li >Link{
  color: black;
}
 .navbar .nav-pills > li > Link:hover {
   background-color: gold;
   color: black;
}

.navbar .nav-pills .active {
 background-color: gold;
 color:Black ;
 font-weight:bold;
}
.actives{
  background-color: rgb(92, 30, 128);
   color: white;
}
.actives .active{
  background-color: rgb(92, 30, 128);
  color: white;
 }